*.psd filter=lfs diff=lfs merge=lfs -text
C:/Users/Lucas/OneDrive/Documents/UofT[[:space:]]SCS[[:space:]]Data[[:space:]]Analytics[[:space:]]Bootcamp/Final[[:space:]]Project/DataSweeper_Project/machine_learning/randomForest_SMOTE.sav filter=lfs diff=lfs merge=lfs -text
*.sav filter=lfs diff=lfs merge=lfs -text
