<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Credit Card Approval Prediction</title>
  <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
  />
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- boxicon CDN link -->
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
  <!-- chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
</head>

<body>
  
  <header>
    <h1> 
      <i class='bx bxl-python'></i>
      Providence Bank
      <br> Credit Card Approval Model 
    </h1>
  </header>

  <div class="row">
    <div class="topnav" style="padding-left:200px">
    <div class="col-md-12 text-center">
      <a  href="{{ url_for('home') }}" style="color:rgb(3, 3, 27);" width="300"><b>Project </b> 
        <a href="{{ url_for('datasets') }}"  style="color:rgb(3, 3, 27);"><b>Data Exploration</b>
        <a  href="{{ url_for('machineLearning') }}" style="color:rgb(3, 3, 27);"> <b>Machine Learning </b>
        <a  href="{{ url_for('livedemo') }}"  style="color:rgb(3, 3, 27);"><b> Live Demo </b>
        <a class = "active" href="{{ url_for('recommendations') }}" > <b> Recommendations </b>
        <a  href="{{ url_for('contact') }}"  style="color:rgb(3, 3, 27);"><b> Contact us </b></a>
  </div>
  </div>
</div>

      <article>
        <div class= "container">
            <p1 style="font-size: 30px;"> 
         <h1> Our recommendations</h1> 
         <hr>
         <b style="font-size: 20px;"> While there are many criteria that may disprove our customer’s credit card applications, 
            however, we should retain all our client’s information and continue to adapt machine learning techniques
            
            <pictures>
                <img align="right" src="../static/images/cashcards.png">
            </pictures>

            direct them to have other cards, such as cash cards, points reward cards etc. for the benefit of the growing
            business. 
          <br>
          <br>
            For any further question we can be reached at the following contact:<br> 

            <br>Address: 2 Toronto ave, North York, ON, L5L 5L5
            <br>Email: info@providencebank.ca
            <br>Phone: 416-555-2222 </b>
            <br><br><br><br>
        </p1>
    </div> 

    <br>
<footer>
  <h1 style="color:  black; font-size: xx-large;" > 
    <i class='bx bx-mail-send' ></i>
    Contact Us 
  </h1>
  <a style="color:rgb(3, 3, 27);" href="mailto:binoy@mailinator.com"> <b>Binoy </b></a>
  <a style="color:rgb(3, 3, 27);" href="mailto:samir@mailinator.com"> <b>Samir</b></a>
  <a style="color:rgb(3, 3, 27);" href="mailto:jane@mailinator.com"> <b>Jane</b></a>
  <a style="color:rgb(3, 3, 27);" href="mailto:lucas@mailinator.com"> <b>Lucas <b></b></a>
</footer>
</body>

</html>