.jumbotron{
    background-color: #565e6921 ;
    /* background-image: url("pictures/cards.jpg") ; */
    background-size: 100% 100%;
    color:hsla(200, 4%, 14%, 0.534);

    
}

.panel{
    width: 210px; 
}

.well{
    width: 210px; 
}
#bar{
    margin-left:150px;
}

#gauge{
    margin-left: 100px;
    margin-right: 250px;
}