.panel > .panel-heading {
    background-image: none;
    background-color: hsla(54, 86%, 51%, 0.925);
    color: white;

}

.panel > .panel-body {
    background-image: none;
    background-color: black;
    color: white;

}
.jumbotron
{
    background-image: url("../images/card.jpg");
    background-size: 30% 30%;
    text-align: center;
}

body {
        background-color: lightblue;
}

h1 {
    background-color: yellow;
    color: black;
    padding: 20px;
  }

p {
    color:black;
    background-color: yellow;
    padding: 14px 16px;
  }

  p2 {
    color:black;
    text-decoration: underline;
    text-transform: capitalize;
    text-indent: 50px;
  }